.header {
  padding: 15px 0;
}
.logo {
  max-width: 282px;
  height: auto;
  display: flex;
  width: 282px;
  height: auto;
  margin: auto;
}
.logo:hover {
  fill: #fff;
}
.columns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.menu {
  flex-grow: 1;
}
.menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  column-gap: 50px;
  justify-content: center;
}
.menu ul li {
  padding: 0;
  margin: 0;
}
.menu ul li a {
  font-size: 1.3rem;
  font-weight: 200;
}
.menu ul li a:hover {
  color: #fff;
}
.logo svg {
  display: block;
  width: 100%;
}

.h1 {
  margin: 0px;
  display: none;
}
.tagline {
  margin: 0px;
  margin-top: 5px;
  display: none;
}
.menuRight a {
  font-size: 1.3rem;
  background: none;
  border: 1px solid #aaa;
  color: #aaa;
  font-weight: 200;
  padding: 10px 20px;
}
.menuRight a:hover {
  border: 1px solid white;
  color: #0a0a0a;
  background-color: white;
}

@media (max-width: 1200px) {
  .columns {
    display: block;
  }
  .menuRight {
    display: none;
  }
  .logo {
    max-width: 175px;
    width: 175px;
    margin-bottom: 15px;
  }
  .menu ul {
    column-gap: normal;
    justify-content: space-between;
  }
}
