.header {
  border-bottom: 4px solid #d61818;
  padding: 0;
  background-color: #fff;
  position: relative;
}
.logo {
  max-width: 282px;
  height: auto;
  display: flex;
  width: 282px;
  height: auto;
  margin: auto;
  fill: #333;
}
.logo:hover {
  fill: #d61818;
}
.logo svg {
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
}
.columns {
  display: flex;
  align-items: center;
  height: 105px;
}

.h1 {
  margin: 0px;
  display: none;
}
.tagline {
  margin: 0px;
  margin-top: 5px;
  display: none;
}

@media (max-width: 1279px) {
  .logo {
    max-width: 220px;
    width: 220px;
    margin-left: 0;
  }
  .columns {
    height: 85px;
  }
}
