.wrapper {
  padding: 60px 0 100px 0;
}

.product {
  display: flex;
  align-items: center;
}

.product img {
  max-width: 645px;
  height: auto;
}

.imageBlock {
  background: #f3f3f3;
}

.infosBlock {
  padding-left: 120px;
  width: 600px;
}

.logoOptions {
  padding-top: 30px;
}

@media (max-width: 1480px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
  }
  .product img {
    max-width: 580px;
  }
}

@media (max-width: 1220px) {
  .product {
    flex-direction: column;
  }
  .product img {
    max-width: 100%;
  }
  .infosBlock {
    width: 100%;
    padding-left: 0px;
  }
}

@media (max-width: 753px) {
  .wrapper {
    padding: 15px 0 40px 0;
  }
}
