.container {
  max-width: 1400px;
  padding: 0px 40px;
  margin: auto;
}

.containerLarge {
  max-width: 1600px;
  padding: 0 0px;
}
.containerSmall {
  max-width: 1200px;
}
.containerExtraSmall {
  max-width: 1000px;
}

@media (max-width: 1480px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
  }
  .containerLarge {
    max-width: 100%;
    padding: 0 0px;
  }
}

@media (max-width: 1220px) {
  .container {
    max-width: 752px;
    padding: 0 15px;
  }
  .containerLarge {
    max-width: 100%;
    padding: 0 0px;
  }
}

@media (max-width: 753px) {
  .container {
    padding: 0 15px;
  }
  .containerLarge {
    max-width: 100%;
    padding: 0 0px;
  }
}
