.category {
  display: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header h2 {
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  color: #333;
  font-size: 1.3rem;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}

@media (max-width: 1480px) {
  .products {
    column-gap: 10px;
    row-gap: 10px;
  }
}

@media (max-width: 753px) {
  .products {
    grid-template-columns: 1fr 1fr;
  }
  .header {
    margin-bottom: 10px;
  }
  .header h2 {
    font-size: 1rem;
  }
}
