.item {
  text-align: center;
  position: relative;
}

.item img {
  max-width: 100%;
  height: auto;
  background: #f3f3f3;
  padding: 70px;
  display: block;
}

.selectCheck {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  background: #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
  transform: scale(0);
  transition: all 0.35s ease-in-out;
}

@media (max-width: 1480px) {
  .item img {
    padding: 45px;
  }
}
@media (max-width: 1220px) {
  .item img {
    padding: 20px;
  }
  .selectCheck {
    top: 8px;
    right: 8px;
    height: 30px;
    width: 30px;
  }
}
