.slideshow {
  margin: 60px 0;
  position: relative;
  overflow: hidden;
}
.stage {
  display: flex;
  transition: all 0.35s ease-in-out;
}
.slide {
  display: inline-block;
  width: 100%;
}

.slide img {
  display: block;
  width: 100%;
  height: auto;
}

.navigation {
  padding: 10px 0;
  display: flex;
  column-gap: 5px;
  justify-content: center;
}

.navigation div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #222;
}
.navigation div:hover,
.navigation div.active {
  background: #d61818;
}

.navigation div span {
  display: none;
}
