.category {
  display: relative;
  margin-bottom: 100px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header h2 {
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  color: #333;
  font-size: 1.3rem;
  padding-bottom: 8px;
  position: relative;
}
.header h2:after {
  width: 60px;
  height: 4px;
  background: #d61818;
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 30px;
}

.viewAll {
  display: flex;
  align-items: center;
  justify-content: center;
}
.viewAllButton {
  width: 200px;
  height: 200px;
  border: 4px solid #f0f0f0;
  color: #ddd;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 90px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.viewAllButton:hover {
  border: 4px solid #d61818;
  color: #d61818;
}

@media (max-width: 1200px) {
  .category {
    display: relative;
    margin-bottom: 60px;
  }
  .products {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 30px;
  }
  .header {
    margin-bottom: 10px;
  }
  .header h2 {
    font-size: 1rem;
  }
  .viewAllButton {
    width: 150px;
    height: 150px;
    font-size: 1.2rem;
    margin-bottom: 90px;
  }
}

/* @media (max-width: 700px) {
  .products {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
} */
