.item {
  text-align: center;
  position: relative;
}

.item img {
  width: 100%;
  height: auto;
  background: #f3f3f3;
  padding: 70px;
  display: block;
}

@media (max-width: 1480px) {
  .item img {
    padding: 45px;
  }
}
@media (max-width: 1220px) {
  .item img {
    padding: 20px;
  }
}
