.category {
  display: relative;
}

.header {
  display: relative;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}

@media (max-width: 700px) {
  .products {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
}
