.footer {
  border-top: 4px solid #222;
  padding: 40px 0 60px 0;
  background: #f3f3f3;
}
.footer h4 {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;

  color: #d61818;
  font-weight: 900;
}
.columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 50px;
}

.menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu ul li a {
  font-weight: 700;
  display: block;
  padding: 8px 0px;
  font-size: 1rem;
}
.menu ul li a:hover {
  color: #d61818;
  text-decoration: underline;
}
.copy {
  background: #222;
}
.copyP {
  margin: 0;
  padding: 15px 0;
  color: #aaa;
  font-size: 0.9rem;
}
.copyP a {
  text-decoration: underline;
}
.copyP a:hover {
  color: #fff;
}

@media (max-width: 1200px) {
  .columns {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
  .copyP {
    font-size: 0.9rem;
  }
}
