/* .slider {
  margin: 50px 0;
  position: relative;
} */

.wrapper {
  overflow: hidden;
}

/* .slides {
  display: flex;
  position: relative;
  transform: translate(-100%);
  cursor: grab;
} */
.grabbing {
  cursor: grabbing;
}

.shifting {
  transition: all 0.35s ease-in-out;
}

/* .slide {
  display: inline-block;
  width: 100%;
} */

/* .slide img {
  display: block;
  width: 100%;
  height: auto;
} */

/* .nav {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  column-gap: 1px;
} */

/* .nav a {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  width: 80px;
  height: 80px;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-bottom: 8px;
  transition: padding 0.05s ease-in-out;
} */

/* .nav a:hover {
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  padding-bottom: 2px;
  transition: padding 0.15s ease-in-out;
} */

@media (max-width: 1614px) {
  .slider {
    margin: 0;
  }
}

@media (max-width: 1480px) {
  .nav a {
    width: 60px;
    height: 60px;
    font-size: 35px;
  }
}

@media (max-width: 1220px) {
  .nav a {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
}

@media (max-width: 753px) {
}
