.wrapper {
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 0;
  margin-bottom: -30px;
}

.breadcrumbs {
  margin: 0;
}

.breadcrumbs a {
  text-decoration: underline;
}

.breadcrumbs a:hover {
  color: #d61818;
}

@media (max-width: 1200px) {
  .wrapper {
    padding: 10px 0;
    margin-bottom: -10px;
  }
}
