.wrapper {
  padding: 15px 0;
  margin-bottom: 0;
  background: #222;
  color: #aaa;
}

.breadcrumbs {
  font-weight: 400;
  margin: 0;
}

.breadcrumbs a {
  color: #ddd;
}

.breadcrumbs a:hover {
  color: #fff;
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .wrapper {
    padding: 10px 0;
  }
}
