.colorSwatches {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.colorSwatchesleft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.colorSwatch {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-right: -3px;
  margin-left: -3px;
}

.colorSwatchName {
  display: none;
}

.black {
  background: black;
}

.gray {
  background: gray;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.maroon {
  background: maroon;
}

.navy {
  background: navy;
}

.off-black {
  background: #333;
}

.dolphin-blue {
  background: darkblue;
}

.red {
  background: red;
}

.black-white {
  background: black;
}

.gray-white {
  background: gray;
}

.navy-white {
  background: navy;
}
